{% extends 'templates/app.twig' %}

{% block pageTitle %}Recover Account{% endblock %}


{% block content %}
    {% include 'templates/partials/nav.twig' %}

    <div class="section group page">
        <div class="col span_4_of_4">
            <div class="col span_2_of_2 main form">
                <div class="col span_2_of_2 header">
                    <h2>Recover Your Account</h2>
                    <hr>
                </div>

                <form action="{{ path_for('auth.recover') }}" method="post" autocomplete="off">
                    <input type="text" name="identifier" id="identifier" placeholder="Email/Username" value="{{ old_input.identifier }}">
                    {% if errors.identifier %} <div class="form_errors">{{ errors.identifier | first }}</div> {% endif %}

                    <input type="submit" value="Send Recovery">

                    {{ csrf.field | raw }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}