{% extends 'templates/app.twig' %}

{% block pageTitle %}Not Found{% endblock %}

{% block content %}

    {% include 'templates/partials/nav.twig' %}

    <div class="section group page">
        <div class="col span_4_of_4" style="text-align:center;">
            <h1>Not Found</h1>
            <h3>Whoops, we could not find that page.</h3>
        </div>
    </div>

{% endblock %}