<div class="col span_4_of_4 side settings-sidebar">
    {{ auth.user.getAvatar({size : 50}) | raw }}
    <h3>My Account</h3>
    <hr>
    <ul class="link-list">
        <a href="{{ path_for('account.profile') }}"><li>Profile Settings</li></a>
        <a href="{{ path_for('account.picture') }}"><li>Profile Picture</li></a>
        <a href="#"><li>Privacy Settings</li></a>
    </ul>

    <hr />

    <ul class="link-list">
        <a href="#"><li>Account Settings</li></a>
        <a href="{{ path_for('account.password') }}"><li>Change Password</li></a>
        <a href="#"><li>Delete Account</li></a>
    </ul>
</div>