{% extends 'templates/user/profile_template.twig' %}

{% block pageTitle %}{{ user.username }}'s Lists: {{ category }}{% endblock %}

{% block profile_content %}

    <h3><a href="{{ path_for('userProfile', {user : user.username}) }}" class="muted"><span class="icon ion-arrow-left-c"></span> Return to profile</a></h3>
    <h1>Lists: {{ category }}</h1>

    {% if not lists.isEmpty() %}
        {% for list in lists %}
            {% include 'templates/list/list_template.twig' %}
        {% endfor %}
    {% else %}
        <h2>This user does not have any lists in that category.</h2>
    {% endif %}

{% endblock %}