{% extends 'templates/user/profile_template.twig' %}

{% block pageTitle %}
    {% if user.username ends with 's' %}
        {{ user.username }}' Favorites
    {% else %}
        {{ user.username }}'s Favorites
    {% endif %}
{% endblock %}


{% block profile_content %}

    {% include 'user/partials/profile_nav.twig' %}

    <div class="col span_4_of_4">
        {% if not lists.isEmpty() %}
            {% for list in lists %}
                {% include 'templates/list/favorite_template.twig' %}
            {% endfor %}

            {{ lists.links | raw }}
        {% else %}
            <h2>No favorites were found.</h2>
        {% endif %}
    </div>

{% endblock %}