{% extends 'templates/user/profile_template.twig' %}

{% block pageTitle %}
    {% if user.username ends with 's' %}
        {{ user.username }}' Favorites
    {% else %}
        {{ user.username }}'s Favorites
    {% endif %}
{% endblock %}


{% block profile_content %}

    <div class="col-lg-10">

        {% include 'user/partials/profile_nav.twig' %}

        {% if not lists.isEmpty() %}
            <div class="row">
                {% for list in lists %}
                    {% include 'templates/list/favorite_template.twig' %}
                {% endfor %}
            </div>

            {{ lists.links | raw }}
        {% else %}
            <h2>No favorites were found.</h2>
        {% endif %}

    </div>

{% endblock %}