{% extends 'templates/user/profile_template.twig' %}

{% block pageTitle %}
    {% if user.username ends with 's' %}
        {{ user.username }}' Lists
    {% else %}
        {{ user.username }}'s Lists
    {% endif %}
{% endblock %}

{% block profile_content %}

    <div class="col-lg-10">

        {% include 'user/partials/profile_nav.twig' %}

        {% if not lists.isEmpty() %}
            <div class="row">
                {% for list in lists %}
                    <div class="col-lg-4">
                        {% include 'templates/list/list_template.twig' %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h2>This user does not have any lists yet.</h2>
        {% endif %}


    </div>

{% endblock %}